Template.UnitTests/obj/
WebUI/bin/
WebUI/obj/
packages/
Business/obj/
Business/bin/
ProjectLog/ProjectLog/bin/
ProjectLog/ProjectLog/obj/
Common.Enums/obj/
Common.Enums/bin/
Template.UnitTests/bin/
Template.v11.suo
TestResults/
KendoServerGrouping.Data/obj/
Kendo.Mvc/obj/
Kendo.Mvc/bin/
KendoServerGrouping.Data/bin/
WebUI/WebUI.csproj.user
Business/Business.csproj.user